asgirefd
attrsd
Djangod
django-environd
djangorestframeworkd
djangorestframework_simplejwtd
drf-spectaculard
inflectiond
jsonschemad
jsonschema-specificationsd
pillowd
PyJWTd
PyYAMLd
referencingd
rpds-pyd
sqlparsed
typing_extensionsd
uritemplated
